In [13]:
import pandas as pd

In [15]:
encoding = pd.read_csv('example.tsv', sep='\t')

encoding.head(5)

,#,AA.gap0,AC.gap0,AD.gap0,AE.gap0,AF.gap0,AG.gap0,AH.gap0,AI.gap0,AK.gap0,...,YM.gap5,YN.gap5,YP.gap5,YQ.gap5,YR.gap5,YS.gap5,YT.gap5,YV.gap5,YW.gap5,YY.gap5
0,P31946,0.008163,0.004082,0.000000,0.016327,0.008163,0.004082,0.000000,0.004082,0.008163,...,0.0,0.0,0.004167,0.0,0.0,0.008333,0.004167,0.000000,0.0,0.000000
1,P62258,0.015748,0.003937,0.000000,0.019685,0.003937,0.003937,0.000000,0.003937,0.007874,...,0.0,0.0,0.004016,0.0,0.0,0.008032,0.008032,0.000000,0.0,0.004016
2,Q04917,0.004082,0.004082,0.004082,0.016327,0.008163,0.004082,0.000000,0.004082,0.004082,...,0.0,0.0,0.004167,0.0,0.0,0.004167,0.000000,0.004167,0.0,0.004167
3,P61981,0.008130,0.004065,0.004065,0.016260,0.004065,0.000000,0.004065,0.004065,0.004065,...,0.0,0.0,0.004149,0.0,0.0,0.004149,0.004149,0.004149,0.0,0.004149
4,P31947,0.008097,0.000000,0.008097,0.016194,0.004049,0.008097,0.000000,0.004049,0.008097,...,0.0,0.0,0.004132,0.0,0.0,0.000000,0.008264,0.004132,0.0,0.000000

In [16]:
encoding.shape

(5, 2401)

In [17]:
# path = '../datasets/'
# df = pd.read_csv(path + 'proteins_10_each_side.csv')

# df.head(5)

,Peptide Sequence,Complete Sequence,Modified Sequence,Prev AA,Next AA,Start,End,Peptide Length,Charges,Assigned Modifications,Protein,Protein ID,Entry Name,Gene,Protein Description,Complete Sequence (10 each side)
0,AADTIGYPVMIR,MTRILTACKVVKTLKSGFGFANVTTKRQWDFSRPGIRLLSVKAKTA...,AADTIGYPVM[655.3735]IR,K,S,576,587,12,3,10M(655.3735),sp|Q8C196|CPSM_MOUSE,Q8C196,CPSM_MOUSE,Cps1,"Carbamoyl-phosphate synthase [ammonia], mitoch...",KAADTIGYPVMIRSAYALGGL
1,AAEMLLFGK,MAAVTWSRARCWCPSVLQVFRLQVAKLHLGRPTMRASQQDFENALN...,AAEM[649.3660]LLFGK,K,K,293,301,9,3,4M(649.3660),sp|Q9WUR2|ECI2_MOUSE,Q9WUR2,ECI2_MOUSE,Eci2,Enoyl-CoA delta isomerase 2,KMMGSAKAAEMLLFGKKLTAR
2,AAEMLLFGK,MAAVTWSRARCWCPSVLQVFRLQVAKLHLGRPTMRASQQDFENALN...,AAEM[655.3735]LLFGK,K,K,293,301,9,3,4M(655.3735),sp|Q9WUR2|ECI2_MOUSE,Q9WUR2,ECI2_MOUSE,Eci2,Enoyl-CoA delta isomerase 2,KMMGSAKAAEMLLFGKKLTAR
3,AAESSAMAATEK,MASATRVIQKLRNWASGQDLQAKLQLRYQEIAKRTQPPPKLPVGPS...,AAESSAM[649.3660]AATEK,K,K,81,92,12,3,7M(649.3660),sp|Q9Z1P6|NDUA7_MOUSE,Q9Z1P6,NDUA7_MOUSE,Ndufa7,NADH dehydrogenase [ubiquinone] 1 alpha subcom...,VSGKAAESSAMAATEKKAVTP
4,AAESSAMAATEK,MASATRVIQKLRNWASGQDLQAKLQLRYQEIAKRTQPPPKLPVGPS...,AAESSAM[655.3735]AATEK,K,K,81,92,12,3,7M(655.3735),sp|Q9Z1P6|NDUA7_MOUSE,Q9Z1P6,NDUA7_MOUSE,Ndufa7,NADH dehydrogenase [ubiquinone] 1 alpha subcom...,VSGKAAESSAMAATEKKAVTP

In [8]:
# df_10 = df[['Protein ID', 'Complete Sequence (10 each side)']]

# df_10.head(5)

  Protein ID Complete Sequence (10 each side)
0     Q8C196            KAADTIGYPVMIRSAYALGGL
1     Q9WUR2            KMMGSAKAAEMLLFGKKLTAR
2     Q9WUR2            KMMGSAKAAEMLLFGKKLTAR
3     Q9Z1P6            VSGKAAESSAMAATEKKAVTP
4     Q9Z1P6            VSGKAAESSAMAATEKKAVTP

In [9]:
# def dataframe_to_fasta(df, header_column, sequence_column, output_file):
#     with open(output_file, 'w') as f:
#         for index, row in df.iterrows():
#             header = row[header_column]
#             sequence = row[sequence_column]
#             f.write('>' + header + '\n')
#             f.write(sequence + '\n')

# dataframe_to_fasta(df_10, 'Protein ID', 'Complete Sequence (10 each side)', 'protein_10.fasta')

In [23]:
encoding_10 = pd.read_csv('encoding.tsv', sep='\t')

encoding_10.head(-10)

,#,AA.gap0,AC.gap0,AD.gap0,AE.gap0,AF.gap0,AG.gap0,AH.gap0,AI.gap0,AK.gap0,...,YM.gap5,YN.gap5,YP.gap5,YQ.gap5,YR.gap5,YS.gap5,YT.gap5,YV.gap5,YW.gap5,YY.gap5
0,Q8C196,0.05,0.0,0.05,0.00,0.0,0.00,0.00,0.0,0.00,...,0.000000,0.0,0.0,0.000000,0.0,0.066667,0.0,0.0,0.0,0.000000
1,Q9WUR2,0.05,0.0,0.00,0.05,0.0,0.00,0.00,0.0,0.05,...,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000
2,Q9WUR2,0.05,0.0,0.00,0.05,0.0,0.00,0.00,0.0,0.05,...,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000
3,Q9Z1P6,0.10,0.0,0.00,0.05,0.0,0.00,0.00,0.0,0.00,...,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000
4,Q9Z1P6,0.10,0.0,0.00,0.05,0.0,0.00,0.00,0.0,0.00,...,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
666,P32020,0.00,0.0,0.00,0.00,0.0,0.05,0.05,0.0,0.00,...,0.066667,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000
667,Q80XN0,0.05,0.0,0.00,0.00,0.0,0.00,0.00,0.0,0.00,...,0.133333,0.0,0.0,0.066667,0.0,0.000000,0.0,0.0,0.0,0.066667
668,Q80XN0,0.05,0.0,0.00,0.00,0.0,0.00,0.00,0.0,0.00,...,0.133333,0.0,0.0,0.066667,0.0,0.000000,0.0,0.0,0.0,0.066667
669,P47962,0.00,0.0,0.05,0.00,0.0,0.00,0.00,0.0,0.00,...,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000
670,Q8C196,0.00,0.0,0.00,0.00,0.0,0.05,0.00,0.0,0.00,...,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000

In [19]:
encoding.head(5)

,#,AA.gap0,AC.gap0,AD.gap0,AE.gap0,AF.gap0,AG.gap0,AH.gap0,AI.gap0,AK.gap0,...,YM.gap5,YN.gap5,YP.gap5,YQ.gap5,YR.gap5,YS.gap5,YT.gap5,YV.gap5,YW.gap5,YY.gap5
0,P31946,0.008163,0.004082,0.000000,0.016327,0.008163,0.004082,0.000000,0.004082,0.008163,...,0.0,0.0,0.004167,0.0,0.0,0.008333,0.004167,0.000000,0.0,0.000000
1,P62258,0.015748,0.003937,0.000000,0.019685,0.003937,0.003937,0.000000,0.003937,0.007874,...,0.0,0.0,0.004016,0.0,0.0,0.008032,0.008032,0.000000,0.0,0.004016
2,Q04917,0.004082,0.004082,0.004082,0.016327,0.008163,0.004082,0.000000,0.004082,0.004082,...,0.0,0.0,0.004167,0.0,0.0,0.004167,0.000000,0.004167,0.0,0.004167
3,P61981,0.008130,0.004065,0.004065,0.016260,0.004065,0.000000,0.004065,0.004065,0.004065,...,0.0,0.0,0.004149,0.0,0.0,0.004149,0.004149,0.004149,0.0,0.004149
4,P31947,0.008097,0.000000,0.008097,0.016194,0.004049,0.008097,0.000000,0.004049,0.008097,...,0.0,0.0,0.004132,0.0,0.0,0.000000,0.008264,0.004132,0.0,0.000000